* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #fff;
    background: #333;
    overflow: hidden;
}

.landing-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding-top: 50px;
}

.landing {
    position: relative;
    background-color: #e882ff;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.landing h1 {
    font-size: 50px;
}

.landing p {
    font-size: 20px;
}

.countdown {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.countdown div {
    padding: 20px;
    border: 1px #fff solid;
    border-radius: 10px;
    background: #000;
    opacity: 0.7;
    margin: 5px;
}

.countdown div:first-child {
    background: #17a2b8;
}

.countdown span {
    display: block;
    font-size: 25px;
}

.container {
    padding-top: 30px;
}
.ppDate {
    height: 38px;
    font-size: 12px;
    padding-left: 6px;
}
.ppDate::-webkit-inner-spin-button,
.ppDate::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
.ppDate:focus::-webkit-calendar-picker-indicator, .ppDate:hover::-webkit-calendar-picker-indicator {
    display: block;
    -webkit-appearance: menulist;
}
.ppDate::-webkit-clear-button {
    display: none;
    -webkit-appearance: none;
}
.constrained {
    max-width: 160px;
}

@media (max-width: 650px) {
    .landing img {
        width: 70%;
    }

    .landing h1 {
        font-size: 40px;
    }

    .countdown {
        font-size: 30px;
        flex-direction: column;
    }

    .countdown div {
        display: none;
    }

    .countdown div:first-child {
        display: block;
        width: 80%;
        padding: 10px;
    }
}
.row {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
    flex: 1 1 8%;
    margin: 0 0 0.5rem 0;
    padding: 0.5em 10px;
    box-sizing: border-box;
}

/* nested grids */
.row .row, .row.nested {
    flex: 1 1 auto;
    margin-top: -0.5em;
}

/* full width grids */
.row.wide-fit {
    margin-left: -10px;
    margin-right: -10px;
}

/* center grids */
.row.center {
    justify-content: center;
}

.center .col {
    flex-grow: 0;
    flex-shrink: 0;
}

/* columns widths */

.col-span-1 {
    flex-basis: 8.3333%;
}

.col-span-2 {
    flex-basis: 16.6666%;
}

.col-span-3 {
    flex-basis: 25%;
}

.col-span-4 {
    flex-basis: 33.3333%;
}

.col-span-5 {
    flex-basis: 41.6666%;
}

.col-span-6 {
    flex-basis: 50%;
}

.col-span-7 {
    flex-basis: 58.3333%;
}

.col-span-8 {
    flex-basis: 66.6666%;
}

.col-span-9 {
    flex-basis: 75%;
}

.col-span-10 {
    flex-basis: 83.3333%;
}

.col-span-11 {
    flex-basis: 91.6666%;
}

.col-span-12 {
    flex-basis: 100%;
}

/* examples */

.fixed-width {
    flex: 0 0 500px;
    background-color: rgba(255,0,0,0.1) !important;
}

@media all and (max-width: 568px) {
    .col-span-1,
    .col-span-2,
    .col-span-3,
    .col-span-4,
    .col-span-5 {
        flex-basis: 50%;
    }

    .col-span-6,
    .col-span-7,
    .col-span-8,
    .col-span-9,
    .col-span-10,
    .col-span-11 {
        flex-basis: 100%;
    }

    .nested .col {
        flex-basis: 100%;
    }

}

/* eye candy */

body {
    font-family: sans-serif;
}

.row {
    background-color: #cccccc;
    background-color: rgba(0,0,0,0.1);
}
.col {
    background-color: #999999;
    background-color: rgba(0,0,0,0.2);
    background-clip: content-box;
    border: 1px solid rgba(0,0,0,0.1);
}
.booking
{
    width: 80%;
    background-color: #1a202c;
    justify-content: center;
    align-items: center;
    padding: 5px;
    display: flex;
    margin: auto;
}
label
{
    padding: 0 3px;
}
.booking input
{
    padding: 0 3px;

}

@media (max-height: 600px) {
    img {
        width: 20%;
    }

    p {
        display: none;
    }
}

@media (max-height: 400px) {
    img {
        padding-bottom: 30px;
    }

    h1 {
        display: none;
    }
}
