* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #fff;
    background-color: #ECBCFD;

}

.landing-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/images/hotel5.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(255, 0, 150, 0.3);
    text-align: center;
    padding-top: 50px;
}

.landing {
    position: relative;
    background-color: #ECBCFD;
    background-size: cover;
    background-position: center;
    height: 150vh;
}

.landing h1 {
    font-size: 50px;
}

.landing p {
    font-size: 20px;
}

.countdown {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.countdown div {
    padding: 20px;
    border: 1px #fff solid;
    border-radius: 10px;
    background: #000;
    opacity: 0.7;
    margin: 5px;
}

.countdown div:first-child {
    background: #17a2b8;
}

.countdown span {
    display: block;
    font-size: 25px;
}

.container {
    padding-top: 30px;
}
.ppDate {
    height: 38px;
    font-size: 12px;
    padding-left: 6px;
}
.ppDate::-webkit-inner-spin-button,
.ppDate::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
.ppDate:focus::-webkit-calendar-picker-indicator, .ppDate:hover::-webkit-calendar-picker-indicator {
    display: block;
    -webkit-appearance: menulist;
}
.ppDate::-webkit-clear-button {
    display: none;
    -webkit-appearance: none;
}
.constrained {
    max-width: 160px;
}

@media (max-width: 650px) {
    .landing img {
        width: 70%;
    }

    .landing h1 {
        font-size: 40px;
    }

    .countdown {
        font-size: 30px;
        flex-direction: column;
    }

    .countdown div {
        display: none;
    }

    .countdown div:first-child {
        display: block;
        width: 80%;
        padding: 10px;
    }
}
.row {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding-top: 18px;
    flex-wrap: wrap;
}

.col {
    flex: 1 1 8%;
    margin: 0 0 0.5rem 0;
    padding: 0.5em 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* nested grids */
.row .row, .row.nested {
    flex: 1 1 auto;
    margin-top: -0.5em;
}

/* full width grids */
.row.wide-fit {
    margin-left: -10px;
    margin-right: -10px;
}

/* center grids */
.row.center {
    justify-content: center;
}

.center .col {
    flex-grow: 0;
    flex-shrink: 0;
}

/* columns widths */

.col-span-1 {
    flex-basis: 8.3333%;
}

.col-span-2 {
    flex-basis: 16.6666%;
}

.col-span-3 {
    flex-basis: 25%;
}

.col-span-4 {
    flex-basis: 33.3333%;
}

.col-span-5 {
    flex-basis: 41.6666%;
}

.col-span-6 {
    flex-basis: 50%;
}

.col-span-7 {
    flex-basis: 58.3333%;
}

.col-span-8 {
    flex-basis: 66.6666%;
}

.col-span-9 {
    flex-basis: 75%;
}

.col-span-10 {
    flex-basis: 83.3333%;
}

.col-span-11 {
    flex-basis: 91.6666%;
}

.col-span-12 {
    flex-basis: 100%;
}

/* examples */

.fixed-width {
    flex: 0 0 500px;
    background-color: rgba(255,0,0,0.1) !important;
}

@media all and (max-width: 568px) {
    .col-span-1,
    .col-span-2,
    .col-span-3,
    .col-span-4,
    .col-span-5 {
        flex-basis: 50%;
    }

    .col-span-6,
    .col-span-7,
    .col-span-8,
    .col-span-9,
    .col-span-10,
    .col-span-11 {
        flex-basis: 100%;
    }

    .nested .col {
        flex-basis: 100%;
    }

}

/* eye candy */

body {
    font-family: sans-serif;
}


.col {

    background-clip: border-box;
}
.booking
{
    width: 80%;
    background-color: #1a202c;
    justify-content: center;
    align-items: center;
    padding: 5px;
    display: flex;
    margin: auto;
}
label
{
    padding: 0 3px;
}
.booking input
{
    padding: 0 3px;

}

@media (max-height: 600px) {
    img {
        width: 20%;
    }

    p {
        display: none;
    }
}

@media (max-height: 400px) {
    img {
        padding-bottom: 30px;
    }

    h1 {
        display: none;
    }
}



@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
body{
    margin: 0;
    padding: 0;
    background-color: #000;
    font-weight: 400;
}
.container{

    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 300px;
}

/* button 1 */
.btn-1{

    border-radius: 50px;
    color: #fff;
    padding: 12px 42px;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    border: 2px solid #4895ef;
    text-decoration: none;
    transition: 0.2s;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #1a202c;
}
.btn-1 span:after{

    content: 'Done';
    color: transparent;
    transition: 0s;
}
.btn-1:focus span{
    color: transparent;
}
.btn-1:focus{
    box-shadow: inset 4em 0 0 #ffffff,
    inset -4em 0 0 #1a1717;
    transition: 1s;
}
.btn-1:focus span:after{
    color: #fff;
    top: 13px;
    transition: 2s ease-in;
}

/* button 2 */
.btn-2{

    border-radius: 50px;
    color: #fff;
    padding: 12px 42px;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    background-color: #e00;
    text-decoration: none;
    transition: all 0.8s;
}
.btn-2 i{
    display: none;
}
.btn-2:focus{
    left: 130px;
    padding: 12px;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    background-color: #fff;
    border: 6px solid #e00;
    box-sizing: border-box;
}
.btn-2:focus span{
    display: none;
}
.btn-2:focus i{
    display: inline;
    color: #e00;
}


/*Animation*/

.anim-typewriter {
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 16em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600');
*{
    margin: 0
}
body{
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
}
input:active, input:focus {
    outline: none;
}
input{
    border: 1px solid #4895ef;
    box-sizing: border-box;
    border-radius: 20px;
    font-weight: 300;
    font-size: 18px;
    color:#FFFFFF;
    font-family: inherit;
    padding:13px 25px;
    background: transparent;
    margin-bottom: 20px;
    width:350px;
    max-width: 100%;
    background: #1a202c;
}

ul{
    list-style: none;
    padding: 0
}

ul li{
    display: inline-block;
    padding-right: 10px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}




.wrapper{
    margin: 125px 0;

}

.form{
    display: flex;
    text-align: center;
    justify-content: center;
}

.left-col{
    width: 40%;
    padding: 135px 30px 0 30px;
    background: linear-gradient(to bottom, #69B9C4, #91C8EB);

}



.left-col h2{
    color:#fff;
    font-size:32px;
    line-height: 37px;
}

.left-col img.img1{
    margin-bottom: 10px;
}

.left-col .bull{
    margin: 100px 0 0;
}
.left-col .bull p{
    font-size: 20px;
    color: #fff;
}

.left-col .bull img.img2{
    margin:25px 0;
}

.left-col .soc{
    margin: 100px 0 0;
}
.left-col .soc a img{
    transition: 0.5s;
}
.left-col .soc a img:hover{
    transition: 0.5s;
    transform: scale(1.3)
}

.left-col .soc p{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}

.left-col .soc ul{
    padding:20px 0 50px;
}


.right-col{
    width: 60%;
    padding: 135px 30px 0 30px;
    background: rgba(255, 255, 255, 0.7);

}

.right-col h2{
    margin-bottom: 70px;
    font-size: 30px;
    color: #585858;
    font-weight: 600;
}

.right-col button{
    background: linear-gradient(299.5deg, #6DBAC8 35.53%, #8FC7E9 109.8%);
    border-radius: 18px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding: 10px 20px;
    margin-top: 20px;
    border:none;
    cursor: pointer;
}
.right-col button:hover{
    background: linear-gradient(299.5deg, #8FC7E9 35.53%, #6DBAC8 109.8%);
}
@media screen and (max-width: 992px) {
    .form{
        display: block;
    }
    .left-col img.img1{
        display: none
    }

    .right-col, .left-col{
        width:100%;
        padding: 40px 0;
    }

}


.alert
{
    font-size: 15px;
    background:  #ff4d4d;
    color:  #ffffff;
    padding: 5px;
}



.bounce {
    outline: 0;
    border-color: red;
    animation-name: bounce;
    animation-duration: .5s;
    animation-delay: 0.25s;
}

/* This approximates the ease-in-out-bounce animation from easings.net, which would require a plug-in to use*/
@keyframes bounce {
    0% {
        transform: translateX(0px);
        timing-function: ease-in;
    }
    37% {
        transform: translateX(5px);
        timing-function: ease-out;
    }
    55% {
        transform: translateX(-5px);
        timing-function: ease-in;
    }
    73% {
        transform: translateX(4px);
        timing-function: ease-out;
    }
    82% {
        transform: translateX(-4px);
        timing-function: ease-in;
    }
    91% {
        transform: translateX(2px);
        timing-function: ease-out;
    }
    96% {
        transform: translateX(-2px);
        timing-function: ease-in;
    }
    100% {
        transform: translateX(0px);
        timing-function: ease-in;
    }
}
